<%if settings.feature.active?(:icons, @user)%>
<div class="buttons row">
  <form action="/funny" method="POST">
    <input type="hidden" name="meme[id]" value="<%=@meme.id%>"/>
    <button type="submit" class="col-6 col-offset-0 btn btn-info btn-large funny-button"><i class="icon-thumbs-up"></i></button>
  </form>
  <form action="/stupid" method="POST">
    <input type="hidden" name="meme[id]" value="<%=@meme.id%>"/>
    <button type="submit" class="col-6 col-offset-0 btn btn-warning btn-large stupid-button"><i class="icon-thumbs-down"></i></button>
  </form>
</div>
<%else%>
<div class="buttons row">
  <form action="/funny" method="POST">
    <input type="hidden" name="meme[id]" value="<%=@meme.id%>"/>
    <input type="submit" class="col-6 col-offset-0 btn btn-success btn-large funny-button" value="Funny" />
  </form>
  <form action="/stupid" method="POST">
    <input type="hidden" name="meme[id]" value="<%=@meme.id%>"/>
    <input type="submit" class="col-6 col-offset-0 btn btn-danger btn-large sad-button" value="Stupid" />
  </form>
</div>
<%end%>
<div class="image row">
  <img src="<%= @meme.url %>"/>
</div>
